---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Planetary Playing Cards</h1>
<div class="cards">
    <div class="sun card">
        <div class="circle"></div>
        <h2>Sun</h2>
        <p>Type G2V</p>
    </div>

    <div class="mercury card">
        <div class="circle"></div>
        <h2>Mercury</h2>
        <p>0.39 AU</p>
    </div>

    <div class="venus card">
        <div class="circle"></div>
        <h2>Venus</h2>
        <p>0.72 AU</p>
    </div>

    <div class="earth card">
        <div class="circle"></div>
        <h2>Earth</h2>
        <p>1.0 AU</p>
    </div>

    <div class="mars card">
        <div class="circle"></div>
        <h2>Mars</h2>
        <p>1.52 AU</p>
    </div>

    <div class="jupiter card">
        <div class="circle"></div>
        <h2>Jupiter</h2>
        <p>5.20 AU</p>
    </div>

    <div class="saturn card">
        <div class="circle"></div>
        <h2>Saturn</h2>
        <p>9.58 AU</p>
    </div>

    <div class="uranus card">
        <div class="circle"></div>
        <h2>Uranus</h2>
        <p>19.22 AU</p>
    </div>
    
    <div class="neptune card">
        <div class="circle"></div>
        <h2>Neptune</h2>
        <p>30.05 AU</p>
    </div>
</div>
